<div class="container d-flex justify-content-center align-items-center">
    <div class="card">
     <div class="upper">
       <img src="https://atheneumboom.be/wp-content/uploads/2017/02/Transparant_0170-Logo_075-px.png" class="img-fluid">
     </div>
     <div class="user text-center">
       <div class="profile">
         <img src="https://i.imgur.com/JgYD2nQ.jpg" class="rounded-circle" width="80">
       </div>
     </div>
     <div *ngIf="user" class="mt-5 text-center">
       <h4 class="mb-0">{{user.voornaam}} {{user.familienaam}}</h4>
       <span class="text-muted d-block mb-2">atheneum Boom</span>
       <button class="btn btn-primary btn-sm follow">Follow</button>
       <div class="d-flex justify-content-between align-items-center mt-4 px-4">
         <div class="stats">
           <h6 class="mb-0">Followers</h6>
           <span>8,797</span>
         </div>
         <div class="stats">
           <h6 class="mb-0">Projects</h6>
           <span>142</span>
         </div>
         <div class="stats">
           <h6 class="mb-0">Email</h6>
           <span>{{user.email}}</span>
         </div>
       </div>
     </div>
    </div>
  </div>