<h2>Boeken</h2>
<table *ngIf="bookItems.length>0" class="table table-striped">
    <thead>
        <tr>
          <th >Titel</th>
          <th >Auteur</th>
          <th >code</th>
          <th>Taal</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of bookItems">
            <td>{{item.titel}}</td>
            <td>{{item.auteur}}</td>
            <td>{{item.code}}</td>
            <td>{{item.taal}}</td>
        </tr>
    </tbody>
</table>
<div *ngIf="bookItems.length===0">Geen boeken in de bibliotheek</div>
<h2>Magazines</h2>
<table *ngIf="magazineItems.length>0" class="table table-striped">
    <thead>
        <tr>
          <th >Titel</th>
          <th >Auteur</th>
          <th >code</th>
          <th>Taal</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of magazineItems">
            <td>{{item.titel}}</td>
            <td>{{item.jaargang}}</td>
            <td>{{item.code}}</td>
            <td>{{item.nummer}}</td>
        </tr>
    </tbody>
</table>
<div *ngIf="magazineItems.length===0">Geen magazines in de bibliotheek</div>


<p>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
      Boeken
    </button>
  </p>
  <div style="min-height: 120px;">
    <div class="collapse collapse-horizontal" id="collapseWidthExample">
      <div class="card card-body" style="width: 300px;">
        <table *ngIf="bookItems.length>0" class="table table-striped">
            <thead>
                <tr>
                  <th >Titel</th>
                  <th >Auteur</th>
                  <th >code</th>
                  <th>Taal</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of bookItems">
                    <td>{{item.titel}}</td>
                    <td>{{item.auteur}}</td>
                    <td>{{item.code}}</td>
                    <td>{{item.taal}}</td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="bookItems.length===0">Geen boeken in de bibliotheek</div>
      </div>
    </div>
  </div>

  <p>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
      Magazines
    </button>
  </p>
  <div style="min-height: 120px;">
    <div class="collapse collapse-horizontal" id="collapseWidthExample">
      <div class="card card-body" style="width: 300px;">
        <table *ngIf="magazineItems.length>0" class="table table-striped">
            <thead>
                <tr>
                  <th >Titel</th>
                  <th >Auteur</th>
                  <th >code</th>
                  <th>Taal</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of magazineItems">
                    <td>{{item.titel}}</td>
                    <td>{{item.jaargang}}</td>
                    <td>{{item.code}}</td>
                    <td>{{item.nummer}}</td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="magazineItems.length===0">Geen magazines in de bibliotheek</div>
        
      </div>
    </div>
  </div>